<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.
<h1>Today's date: {{moment-format (now) 'MM/DD/YYYY' date}}</h1>
<h1>Time: {{moment-format (now) 'h:mm:ss a' interval=1000}}</h1>
<h2>Important Announcements: </h2>
<ul>
  {{#each announcements as |announcement|}}
    {{news-announcement announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{new-announcement saveAnnouncement2="saveAnnouncement3"}}

<ul>
  {{#each rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
